<%= form_for(shape_calculator) do |f| %>
  <% if shape_calculator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shape_calculator.errors.count, "error") %> prohibited this shape_calculator from being saved:</h2>

      <ul>
      <% shape_calculator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shape %>
    <%= f.text_field :shape %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
