<p id="notice"><%= notice %></p>

<h1>Shape Calculators</h1>

<table>
  <thead>
    <tr>
      <th>Shape</th>
      <th>Area</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shape_calculators.each do |shape_calculator| %>
      <tr>
        <td><%= shape_calculator.shape %></td>
        <td><%= shape_calculator.area %></td>
        <td><%= shape_calculator.user_id %></td>
        <td><%= link_to 'Show', shape_calculator %></td>
        <td><%= link_to 'Edit', edit_shape_calculator_path(shape_calculator) %></td>
        <td><%= link_to 'Destroy', shape_calculator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shape Calculator', new_shape_calculator_path %>
