<p id="notice"><%= notice %></p>

<p>
  <strong>Shape:</strong>
  <%= @shape_calculator.shape %>
</p>

<p>
  <strong>Area:</strong>
  <%= @shape_calculator.area %>
</p>

<p>
  <strong>User:</strong>
  <%= @shape_calculator.user_id %>
</p>

<%= link_to 'Edit', edit_shape_calculator_path(@shape_calculator) %> |
<%= link_to 'Back', shape_calculators_path %>
