<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div>
  <h3>Scores for this user:</h3>
  <table>
    <thead>
    <tr>
      <th>Number</th>
      <th>Number of guesses</th>
    </tr>
    </thead>
    <tbody>
    <% @guess_the_numbers.each do |guess_the_number| %>
      <tr>
        <td><%= guess_the_number.number %></td>
        <td><%= guess_the_number.tries %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>