<% provide(:title, 'Home') %>

<h1>5 Crucial projects</h1>
<p>These are 5 prohects implemented in one place to get to know Rails and React.</p>

<div class="row">
  <div class="col-xs-12">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#guess-the-number" aria-controls="guess-the-number" role="tab" data-toggle="tab">Guess the number</a></li>
        <li role="presentation"><a href="#sentence-generator" aria-controls="sentence-generator" role="tab" data-toggle="tab">Sentence generator</a></li>
        <li role="presentation"><a href="#area-calculator" aria-controls="area-calculator" role="tab" data-toggle="tab">Area calculator</a></li>
        <li role="presentation"><a href="#address-book" aria-controls="address-book" role="tab" data-toggle="tab">Address book</a></li>
        <li role="presentation"><a href="#text-game" aria-controls="text-game" role="tab" data-toggle="tab">Text game</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="guess-the-number">          
          <h2>Guess the number!</h2>
          <div data-react-class="GuessTheNumber"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="sentence-generator">
          <h2>Sentence generator</h2>
          <div data-react-class="SentenceGenerator"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="area-calculator">
          <h2>Area calculator</h2>
          <div data-react-class="ShapeCalculator"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="address-book">
          <h2>Address book</h2>
          <div data-react-class="ContactBook"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="text-game">
          <h2>Text game</h2>
        </div>
      </div>

    </div>
  </div>
</div>