<%= form_for(guess_the_number) do |f| %>
  <% if guess_the_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guess_the_number.errors.count, "error") %> prohibited this guess_the_number from being saved:</h2>

      <ul>
      <% guess_the_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tries %>
    <%= f.number_field :tries %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
