<p id="notice"><%= notice %></p>

<h1>Guess The Numbers</h1>

<table>
  <thead>
    <tr>
      <th>Tries</th>
      <th>Number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guess_the_numbers.each do |guess_the_number| %>
      <tr>
        <td><%= guess_the_number.tries %></td>
        <td><%= guess_the_number.number %></td>
        <td><%= guess_the_number.user_id %></td>
        <td><%= link_to 'Show', guess_the_number %></td>
        <td><%= link_to 'Edit', edit_guess_the_number_path(guess_the_number) %></td>
        <td><%= link_to 'Destroy', guess_the_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guess The Number', new_guess_the_number_path %>
