<p id="notice"><%= notice %></p>

<p>
  <strong>Tries:</strong>
  <%= @guess_the_number.tries %>
</p>

<p>
  <strong>Number:</strong>
  <%= @guess_the_number.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @guess_the_number.user_id %>
</p>

<%= link_to 'Edit', edit_guess_the_number_path(@guess_the_number) %> |
<%= link_to 'Back', guess_the_numbers_path %>
